.vscode/
bin/Debug/
bin/Release/
obj/Debug/
obj/Release/
project.lock.json

.vs/
*.xproj.user
samples/NugetPackageConsumingApp1/bin/Debug/
samples/NugetPackageConsumingApp1/bin/Release/
samples/NugetPackageConsumingApp1/obj/Debug/
samples/NugetPackageConsumingApp1/obj/Release/
MinimalNugetServer/bin/Debug/
MinimalNugetServer/bin/Release/
MinimalNugetServer/obj/Debug/
MinimalNugetServer/obj/Release/
samples/NugetPackageConsumingApp1/packages/
MinimalNugetServer/GitCommitHash.cs
